arduino-node-red/node-red/digi-test-node.txt
[{"id":"99aaca44.01d3f8","type":"tab","label":"VW bus","disabled":false,"info":""},{"id":"63fd781e.689c18","type":"mqtt in","z":"99aaca44.01d3f8","name":"","topic":"engine/egt/state","qos":"0","datatype":"auto","broker":"51b2ec7.2e1c314","x":720,"y":100,"wires":[["cd7dac0d.5f735"]]},{"id":"8de514d6.817898","type":"inject","z":"99aaca44.01d3f8","name":"Inject of RPM","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/rpm/state","payload":"35","payloadType":"num","x":120,"y":80,"wires":[[]]},{"id":"6ae920cf.677a7","type":"mqtt out","z":"99aaca44.01d3f8","name":"EGT","topic":"engine/egt/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":470,"y":140,"wires":[]},{"id":"cd7dac0d.5f735","type":"debug","z":"99aaca44.01d3f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":100,"wires":[]},{"id":"5821e886.63c2f8","type":"mqtt out","z":"99aaca44.01d3f8","name":"RPM","topic":"engine/rpm/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":470,"y":80,"wires":[]},{"id":"3c3a96bd.b6fc3a","type":"mqtt out","z":"99aaca44.01d3f8","name":"Boost","topic":"engine/boost/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":470,"y":320,"wires":[]},{"id":"1f9c8180.ff66fe","type":"mqtt out","z":"99aaca44.01d3f8","name":"Coolant","topic":"engine/coolant/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":480,"y":260,"wires":[]},{"id":"ff92a5.92facd58","type":"debug","z":"99aaca44.01d3f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"71a7e434.add10c","type":"mqtt in","z":"99aaca44.01d3f8","name":"","topic":"engine/rpm/state","qos":"0","datatype":"auto","broker":"51b2ec7.2e1c314","x":720,"y":160,"wires":[["ff92a5.92facd58"]]},{"id":"2bd551d9.8f01ee","type":"inject","z":"99aaca44.01d3f8","name":"Inject of EGT","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/egt/state","payload":"8","payloadType":"num","x":120,"y":140,"wires":[[]]},{"id":"70af7a0b.c75024","type":"inject","z":"99aaca44.01d3f8","name":"Inject of Oil Pressure","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/rpm/state","payload":"10","payloadType":"num","x":100,"y":200,"wires":[[]]},{"id":"873bfcbf.2517b","type":"inject","z":"99aaca44.01d3f8","name":"Inject of Coolant","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/coolant/state","payload":"15","payloadType":"num","x":130,"y":260,"wires":[[]]},{"id":"32741605.d0897a","type":"mqtt out","z":"99aaca44.01d3f8","name":"Oil Pressure","topic":"engine/oilpressure/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":200,"wires":[]},{"id":"8de08857.466728","type":"inject","z":"99aaca44.01d3f8","name":"Inject of Boost","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/boost/state","payload":"2","payloadType":"num","x":120,"y":320,"wires":[[]]},{"id":"af6269df.afb858","type":"inject","z":"99aaca44.01d3f8","name":"Inject of Outside Temp","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"cabin/outside_temp/state","payload":"18","payloadType":"num","x":150,"y":540,"wires":[["e4c0912d.5b42c"]]},{"id":"e4c0912d.5b42c","type":"mqtt out","z":"99aaca44.01d3f8","name":"Outside Temp","topic":"cabin/outside_temp/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":540,"wires":[]},{"id":"36242fde.8d31","type":"inject","z":"99aaca44.01d3f8","name":"Inject of Fuel","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/fuel/state","payload":"3","payloadType":"num","x":120,"y":380,"wires":[[]]},{"id":"dc40aced.12c06","type":"mqtt out","z":"99aaca44.01d3f8","name":"Fuel","topic":"engine/fuel/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":470,"y":380,"wires":[]},{"id":"9dcbc6e3.69ee48","type":"inject","z":"99aaca44.01d3f8","name":"Inject of Speed CV","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"cabin/speed_cv/state","payload":"78","payloadType":"num","x":130,"y":600,"wires":[["955de44f.c91868"]]},{"id":"955de44f.c91868","type":"mqtt out","z":"99aaca44.01d3f8","name":"Speed CV","topic":"cabin/speed_cv/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":480,"y":600,"wires":[]},{"id":"7e3dcced.d99684","type":"inject","z":"99aaca44.01d3f8","name":"Inject of Speed GPS","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"cabin/speed_gps/state","payload":"77","payloadType":"num","x":140,"y":660,"wires":[[]]},{"id":"97eff6f9.8767e8","type":"mqtt out","z":"99aaca44.01d3f8","name":"Speed GPS","topic":"cabin/speed_gps/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":660,"wires":[]},{"id":"bd04a87f.7fabb8","type":"inject","z":"99aaca44.01d3f8","name":"Inject of Outside Temp","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"cabin/outside_temp/state","payload":"18","payloadType":"num","x":150,"y":720,"wires":[["51f41bf3.b94ca4"]]},{"id":"51f41bf3.b94ca4","type":"mqtt out","z":"99aaca44.01d3f8","name":"Outside Temp","topic":"cabin/outside_temp/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":720,"wires":[]},{"id":"a9e5833f.1b194","type":"mqtt out","z":"99aaca44.01d3f8","name":"Illumination State","topic":"indicator/illumination/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":510,"y":880,"wires":[]},{"id":"c0f8ee6d.83498","type":"comment","z":"99aaca44.01d3f8","name":"Indicator Topic for dash Lights (turn signal, etc)","info":"","x":220,"y":820,"wires":[]},{"id":"9728294.674afd8","type":"comment","z":"99aaca44.01d3f8","name":"Cabin Topic - dash items originating in cabin arduinos","info":"","x":240,"y":480,"wires":[]},{"id":"7c0757df.062628","type":"comment","z":"99aaca44.01d3f8","name":"Engine Topic - dash items from engine arduino","info":"","x":220,"y":20,"wires":[]},{"id":"9251223e.7efc8","type":"mqtt out","z":"99aaca44.01d3f8","name":"Foglight State","topic":"indicator/foglight/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":920,"wires":[]},{"id":"5f4379ab.9af478","type":"mqtt out","z":"99aaca44.01d3f8","name":"HIghbeam State","topic":"indicator/highbeam/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":960,"wires":[]},{"id":"10102c99.b75f43","type":"mqtt out","z":"99aaca44.01d3f8","name":"Defog State","topic":"indicator/defog/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":1000,"wires":[]},{"id":"6eb88386.ba667c","type":"mqtt out","z":"99aaca44.01d3f8","name":"Left Turn State","topic":"indicator/leftturn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":1040,"wires":[]},{"id":"6f0d77c3.cb5c38","type":"mqtt out","z":"99aaca44.01d3f8","name":"Right Turn State","topic":"indicator/rightturn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":1080,"wires":[]},{"id":"477809d3.d2c178","type":"mqtt out","z":"99aaca44.01d3f8","name":"Brake Warn State","topic":"indicator/brakewarn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":510,"y":1120,"wires":[]},{"id":"22e41cc2.9a45b4","type":"mqtt out","z":"99aaca44.01d3f8","name":"Oil Light State","topic":"indicator/oillight/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":1160,"wires":[]},{"id":"9380ba94.58e4b8","type":"mqtt out","z":"99aaca44.01d3f8","name":"Alt State","topic":"indicator/alt/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":480,"y":1200,"wires":[]},{"id":"7ded5c76.45da44","type":"mqtt out","z":"99aaca44.01d3f8","name":"Glow State","topic":"indicator/glow/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":1240,"wires":[]},{"id":"7000d6e8.42e5e8","type":"ui_slider","z":"99aaca44.01d3f8","name":"","label":"RPM","tooltip":"","group":"fc497480.c434c8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/rpm/state","topicType":"msg","min":0,"max":"50","step":1,"x":300,"y":80,"wires":[["5821e886.63c2f8"]]},{"id":"c4c65bdd.7f9e88","type":"ui_slider","z":"99aaca44.01d3f8","name":"","label":"EGT","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/egt/state","topicType":"msg","min":0,"max":"19","step":1,"x":290,"y":140,"wires":[["6ae920cf.677a7"]]},{"id":"45a88c5d.da0af4","type":"ui_slider","z":"99aaca44.01d3f8","name":"","label":"Oil Pressure","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/oilpressure/state","topicType":"msg","min":0,"max":"19","step":1,"x":290,"y":200,"wires":[["32741605.d0897a"]]},{"id":"684df08c.76c24","type":"ui_slider","z":"99aaca44.01d3f8","name":"","label":"Coolant","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/coolant/state","topicType":"msg","min":0,"max":"19","step":1,"x":320,"y":260,"wires":[["1f9c8180.ff66fe"]]},{"id":"c9164fc4.dcdbd","type":"ui_slider","z":"99aaca44.01d3f8","name":"","label":"Boost","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/boost/state","topicType":"msg","min":0,"max":"19","step":1,"x":310,"y":320,"wires":[["3c3a96bd.b6fc3a"]]},{"id":"1e759f38.bc50c1","type":"ui_slider","z":"99aaca44.01d3f8","name":"","label":"Fuel","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/fuel/state","topicType":"msg","min":0,"max":"55","step":1,"x":310,"y":380,"wires":[["dc40aced.12c06"]]},{"id":"8a203d7b.82d44","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":880,"wires":[["a9e5833f.1b194"]]},{"id":"3fb71c9a.c3bfe4","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Foglight","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/foglight/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":260,"y":920,"wires":[["9251223e.7efc8"]]},{"id":"1de2c30d.0b4ffd","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Highbeam","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/highbeam/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":960,"wires":[["5f4379ab.9af478"]]},{"id":"4b979ad4.391134","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Defog","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/defog/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":250,"y":1000,"wires":[["10102c99.b75f43"]]},{"id":"3e4d5b1d.960414","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":1040,"wires":[[]]},{"id":"64d5e542.ec05fc","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":1080,"wires":[[]]},{"id":"52a42811.26d208","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":1120,"wires":[[]]},{"id":"32dc1a0a.28bcc6","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":1160,"wires":[[]]},{"id":"50e0fc61.e11b94","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":1200,"wires":[[]]},{"id":"4dc4e260.a2a58c","type":"ui_switch","z":"99aaca44.01d3f8","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":1240,"wires":[[]]},{"id":"51b2ec7.2e1c314","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc497480.c434c8","type":"ui_group","name":"Gauges","tab":"a1abfb87.c9b9a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a911efe.951c3","type":"ui_group","name":"Indicators","tab":"a1abfb87.c9b9a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1abfb87.c9b9a8","type":"ui_tab","name":"Digifiz","icon":"dashboard","disabled":false,"hidden":false}]