arduino-node-red/node-red/digi-test-node.txt
[{"id":"b2ea5d88.d17e6","type":"tab","label":"VW bus","disabled":false,"info":""},{"id":"e5c491a3.4770f","type":"mqtt in","z":"b2ea5d88.d17e6","name":"","topic":"engine/egt/state","qos":"0","datatype":"auto","broker":"51b2ec7.2e1c314","x":720,"y":100,"wires":[["f78f8ca4.7b4dd"]]},{"id":"69743a7d.4c47b4","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of RPM","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/rpm/state","payload":"35","payloadType":"num","x":120,"y":80,"wires":[[]]},{"id":"ccc28a81.180ba8","type":"mqtt out","z":"b2ea5d88.d17e6","name":"EGT","topic":"engine/egt/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":470,"y":140,"wires":[]},{"id":"f78f8ca4.7b4dd","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":100,"wires":[]},{"id":"7690c79.40c6738","type":"mqtt out","z":"b2ea5d88.d17e6","name":"RPM","topic":"engine/rpm/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":470,"y":80,"wires":[]},{"id":"859cbf2.760ce4","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Boost","topic":"engine/boost/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":470,"y":320,"wires":[]},{"id":"9da81925.940a48","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Coolant","topic":"engine/coolant/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":480,"y":260,"wires":[]},{"id":"4ba533bd.5db22c","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"d19a360f.5d54c8","type":"mqtt in","z":"b2ea5d88.d17e6","name":"","topic":"engine/rpm/state","qos":"0","datatype":"auto","broker":"51b2ec7.2e1c314","x":720,"y":160,"wires":[["4ba533bd.5db22c"]]},{"id":"df74b355.02a26","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of Oil Pressure","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/rpm/state","payload":"10","payloadType":"num","x":100,"y":200,"wires":[[]]},{"id":"f31b2111.ed1cd","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of Coolant","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/coolant/state","payload":"15","payloadType":"num","x":130,"y":260,"wires":[[]]},{"id":"e111a39b.1b3e","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Oil Pressure","topic":"engine/oilpressure/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":200,"wires":[]},{"id":"246e6e6d.a55d42","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of Boost","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/boost/state","payload":"2","payloadType":"num","x":120,"y":320,"wires":[[]]},{"id":"9bef70bd.85d08","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of Outside Temp","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"cabin/outside_temp/state","payload":"18","payloadType":"num","x":150,"y":540,"wires":[[]]},{"id":"ca6a98ec.0d4918","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Outside Temp","topic":"cabin/outside_temp/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":540,"wires":[]},{"id":"4d3fbc3a.27b974","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of Fuel","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"engine/fuel/state","payload":"3","payloadType":"num","x":120,"y":380,"wires":[[]]},{"id":"3b41ef78.edce3","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Fuel","topic":"engine/fuel/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":470,"y":380,"wires":[]},{"id":"e8d27d3d.6f581","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of Speed CV","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"cabin/speed_cv/state","payload":"78","payloadType":"num","x":130,"y":600,"wires":[[]]},{"id":"a35e44e1.f82058","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Speed CV","topic":"cabin/speed_cv/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":600,"wires":[]},{"id":"52a23233.09b9cc","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of Speed GPS","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"cabin/speed_gps/state","payload":"77","payloadType":"num","x":140,"y":660,"wires":[[]]},{"id":"48c91773.216978","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Speed GPS","topic":"cabin/speed_gps/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":660,"wires":[]},{"id":"924a427.95f3dc","type":"inject","z":"b2ea5d88.d17e6","name":"Inject of Outside Temp","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"cabin/outside_temp/state","payload":"18","payloadType":"num","x":150,"y":720,"wires":[[]]},{"id":"58023a34.8750e4","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Outside Temp","topic":"cabin/outside_temp/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":720,"wires":[]},{"id":"5035f002.d6573","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Illumination State","topic":"indicator/illumination/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":510,"y":880,"wires":[]},{"id":"55a010bb.da1cf","type":"comment","z":"b2ea5d88.d17e6","name":"Indicator Topic for dash Lights (turn signal, etc)","info":"","x":220,"y":820,"wires":[]},{"id":"e4ef61c3.1017e","type":"comment","z":"b2ea5d88.d17e6","name":"Cabin Topic - dash items originating in cabin arduinos","info":"","x":240,"y":480,"wires":[]},{"id":"20c42123.f54d5e","type":"comment","z":"b2ea5d88.d17e6","name":"Engine Topic - dash items from engine arduino","info":"","x":220,"y":20,"wires":[]},{"id":"905492a9.6f0c1","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Foglight State","topic":"indicator/foglight/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":920,"wires":[]},{"id":"d080f8c0.4fa548","type":"mqtt out","z":"b2ea5d88.d17e6","name":"HIghbeam State","topic":"indicator/highbeam/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":1000,"wires":[]},{"id":"b57dfbeb.9de5b8","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Defog State","topic":"indicator/defog/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":960,"wires":[]},{"id":"4c9ad253.832c7c","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Left Turn State","topic":"indicator/leftturn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":1040,"wires":[]},{"id":"69ad4b21.2a8fa4","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Right Turn State","topic":"indicator/rightturn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":1080,"wires":[]},{"id":"f991a3b9.52bef","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Brake Warn State","topic":"indicator/brakewarn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":510,"y":1120,"wires":[]},{"id":"d34b8c87.1b0ce","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Oil Light State","topic":"indicator/oillight/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":500,"y":1160,"wires":[]},{"id":"26e49619.56745a","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Alt State","topic":"indicator/alt/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":480,"y":1200,"wires":[]},{"id":"87ac62e4.7e58e","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Glow State","topic":"indicator/glow/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":490,"y":1240,"wires":[]},{"id":"e6e0988f.699948","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"RPM","tooltip":"","group":"fc497480.c434c8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/rpm/state","topicType":"msg","min":0,"max":"50","step":1,"x":300,"y":80,"wires":[["7690c79.40c6738"]]},{"id":"2b9f5a96.7b8166","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"EGT","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/egt/state","topicType":"msg","min":0,"max":"19","step":1,"x":290,"y":140,"wires":[["ccc28a81.180ba8"]]},{"id":"8040889a.fe17d8","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Oil Pressure","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/oilpressure/state","topicType":"msg","min":0,"max":"19","step":1,"x":290,"y":200,"wires":[["e111a39b.1b3e"]]},{"id":"e9621a85.91d868","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Coolant","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/coolant/state","topicType":"msg","min":0,"max":"19","step":1,"x":320,"y":260,"wires":[["9da81925.940a48"]]},{"id":"a2c33998.207b08","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Boost","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/boost/state","topicType":"msg","min":0,"max":"19","step":1,"x":310,"y":320,"wires":[["859cbf2.760ce4"]]},{"id":"c5b1191c.5a8ec8","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Fuel","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/fuel/state","topicType":"msg","min":0,"max":"55","step":1,"x":310,"y":380,"wires":[["3b41ef78.edce3"]]},{"id":"6d18b015.682d7","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":880,"wires":[["5035f002.d6573"]]},{"id":"93008677.bff5d8","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Foglight","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/foglight/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":260,"y":920,"wires":[["905492a9.6f0c1"]]},{"id":"431c137a.c5984c","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Highbeam","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/highbeam/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":1000,"wires":[["d080f8c0.4fa548"]]},{"id":"928e1a85.934108","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Defog","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/defog/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":250,"y":960,"wires":[["b57dfbeb.9de5b8"]]},{"id":"74875b4a.b5ed54","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Left Turn","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/leftturn/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":260,"y":1040,"wires":[["4c9ad253.832c7c"]]},{"id":"839f1dd.594c1e","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Right Turn","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/rightturn/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":270,"y":1080,"wires":[["69ad4b21.2a8fa4"]]},{"id":"cc236161.6fc7f","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Brake Warning","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/brakewarn/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":280,"y":1120,"wires":[["f991a3b9.52bef"]]},{"id":"a69348c5.6ce138","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"oillight","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/oillight/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":250,"y":1160,"wires":[["d34b8c87.1b0ce"]]},{"id":"ca628f41.dac49","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Alt","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/alt/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":250,"y":1200,"wires":[["26e49619.56745a"]]},{"id":"3b74dbc.4afad24","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Glow","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/glow/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":250,"y":1240,"wires":[["87ac62e4.7e58e"]]},{"id":"7154e56d.a61c6c","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Speed_CV","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"cabin/speed_cv/state","topicType":"msg","min":0,"max":"155","step":1,"x":310,"y":600,"wires":[["a35e44e1.f82058"]]},{"id":"a4a83037.ebf84","type":"serial in","z":"b2ea5d88.d17e6","d":true,"name":"Mega","serial":"81d10051.44371","x":90,"y":140,"wires":[["24c4e2c3.de466e"]]},{"id":"24c4e2c3.de466e","type":"split","z":"b2ea5d88.d17e6","name":"","splt":"\\n","spltType":"str","arraySplt":"2","arraySpltType":"len","stream":true,"addname":"","x":590,"y":320,"wires":[["b6a11af2.0d7f48"]]},{"id":"a1935494.5f1808","type":"debug","z":"b2ea5d88.d17e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":320,"wires":[]},{"id":"5bbc4878.f74cd8","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":360,"wires":[]},{"id":"73b413dc.a9c9bc","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":400,"wires":[]},{"id":"b6a11af2.0d7f48","type":"switch","z":"b2ea5d88.d17e6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"EGT","vt":"str"},{"t":"cont","v":"BOOST","vt":"str"},{"t":"cont","v":"VOLTAGE","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":750,"y":380,"wires":[["a1935494.5f1808"],["5bbc4878.f74cd8"],["73b413dc.a9c9bc"]]},{"id":"51b2ec7.2e1c314","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc497480.c434c8","type":"ui_group","name":"Gauges","tab":"a1abfb87.c9b9a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a911efe.951c3","type":"ui_group","name":"Indicators","tab":"a1abfb87.c9b9a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"81d10051.44371","type":"serial-port","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a1abfb87.c9b9a8","type":"ui_tab","name":"Digifiz","icon":"dashboard","disabled":false,"hidden":false}]