arduino-node-red/node-red/digi-test-node.txt
[
    {
        "id": "b2ea5d88.d17e6",
        "type": "tab",
        "label": "VW bus",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5c491a3.4770f",
        "type": "mqtt in",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "topic": "engine/egt/state",
        "qos": "0",
        "datatype": "auto",
        "broker": "51b2ec7.2e1c314",
        "x": 940,
        "y": 820,
        "wires": [
            [
                "f78f8ca4.7b4dd"
            ]
        ]
    },
    {
        "id": "f78f8ca4.7b4dd",
        "type": "debug",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 820,
        "wires": []
    },
    {
        "id": "7690c79.40c6738",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "RPM",
        "topic": "engine/rpm/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "859cbf2.760ce4",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Boost",
        "topic": "engine/boost/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "9da81925.940a48",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Coolant",
        "topic": "engine/coolant/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "4ba533bd.5db22c",
        "type": "debug",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 880,
        "wires": []
    },
    {
        "id": "d19a360f.5d54c8",
        "type": "mqtt in",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "topic": "engine/rpm/state",
        "qos": "0",
        "datatype": "auto",
        "broker": "51b2ec7.2e1c314",
        "x": 940,
        "y": 880,
        "wires": [
            [
                "4ba533bd.5db22c"
            ]
        ]
    },
    {
        "id": "e111a39b.1b3e",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Oil Pressure",
        "topic": "engine/oilpressure/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "ca6a98ec.0d4918",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Outside Temp",
        "topic": "cabin/outside_temp/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 580,
        "y": 940,
        "wires": []
    },
    {
        "id": "3b41ef78.edce3",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Fuel",
        "topic": "engine/fuel/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 810,
        "y": 720,
        "wires": []
    },
    {
        "id": "a35e44e1.f82058",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Speed CV",
        "topic": "cabin/speed_cv/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 570,
        "y": 1000,
        "wires": []
    },
    {
        "id": "48c91773.216978",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Speed GPS",
        "topic": "cabin/speed_gps/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 570,
        "y": 1060,
        "wires": []
    },
    {
        "id": "58023a34.8750e4",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Outside Temp",
        "topic": "cabin/outside_temp/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 580,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5035f002.d6573",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Illumination State",
        "topic": "indicator/illumination/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 590,
        "y": 1280,
        "wires": []
    },
    {
        "id": "55a010bb.da1cf",
        "type": "comment",
        "z": "b2ea5d88.d17e6",
        "name": "Indicator Topic for dash Lights (turn signal, etc)",
        "info": "",
        "x": 300,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e4ef61c3.1017e",
        "type": "comment",
        "z": "b2ea5d88.d17e6",
        "name": "Cabin Topic - dash items originating in cabin arduinos",
        "info": "",
        "x": 320,
        "y": 880,
        "wires": []
    },
    {
        "id": "20c42123.f54d5e",
        "type": "comment",
        "z": "b2ea5d88.d17e6",
        "name": "Engine Topic - dash items from engine arduino",
        "info": "",
        "x": 220,
        "y": 20,
        "wires": []
    },
    {
        "id": "905492a9.6f0c1",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Foglight State",
        "topic": "indicator/foglight/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 580,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d080f8c0.4fa548",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "HIghbeam State",
        "topic": "indicator/highbeam/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 580,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b57dfbeb.9de5b8",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Defog State",
        "topic": "indicator/defog/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 570,
        "y": 1360,
        "wires": []
    },
    {
        "id": "4c9ad253.832c7c",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Left Turn State",
        "topic": "indicator/leftturn/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 580,
        "y": 1440,
        "wires": []
    },
    {
        "id": "69ad4b21.2a8fa4",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Right Turn State",
        "topic": "indicator/rightturn/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 580,
        "y": 1480,
        "wires": []
    },
    {
        "id": "f991a3b9.52bef",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Brake Warn State",
        "topic": "indicator/brakewarn/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 590,
        "y": 1520,
        "wires": []
    },
    {
        "id": "d34b8c87.1b0ce",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Oil Light State",
        "topic": "indicator/oillight/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 580,
        "y": 1560,
        "wires": []
    },
    {
        "id": "26e49619.56745a",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Alt State",
        "topic": "indicator/alt/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 560,
        "y": 1600,
        "wires": []
    },
    {
        "id": "87ac62e4.7e58e",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Glow State",
        "topic": "indicator/glow/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 570,
        "y": 1640,
        "wires": []
    },
    {
        "id": "e6e0988f.699948",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "RPM",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "engine/rpm/state",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "x": 630,
        "y": 460,
        "wires": [
            [
                "7690c79.40c6738"
            ]
        ]
    },
    {
        "id": "2b9f5a96.7b8166",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "EGT",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "engine/egt/state",
        "topicType": "msg",
        "min": 0,
        "max": "19",
        "step": 1,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "2c28b207.480aae"
            ]
        ]
    },
    {
        "id": "8040889a.fe17d8",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Oil Pressure",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "engine/oilpressure/state",
        "topicType": "msg",
        "min": 0,
        "max": "19",
        "step": 1,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "e111a39b.1b3e"
            ]
        ]
    },
    {
        "id": "e9621a85.91d868",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Coolant",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "engine/coolant/state",
        "topicType": "msg",
        "min": 0,
        "max": "19",
        "step": 1,
        "x": 620,
        "y": 620,
        "wires": [
            [
                "9da81925.940a48"
            ]
        ]
    },
    {
        "id": "a2c33998.207b08",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Boost",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "engine/boost/state",
        "topicType": "msg",
        "min": 0,
        "max": "19",
        "step": 1,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "859cbf2.760ce4"
            ]
        ]
    },
    {
        "id": "c5b1191c.5a8ec8",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Fuel",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "engine/fuel/state",
        "topicType": "msg",
        "min": 0,
        "max": "55",
        "step": 1,
        "x": 630,
        "y": 740,
        "wires": [
            [
                "3b41ef78.edce3"
            ]
        ]
    },
    {
        "id": "6d18b015.682d7",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Illumination",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/illumination/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 350,
        "y": 1280,
        "wires": [
            [
                "5035f002.d6573"
            ]
        ]
    },
    {
        "id": "93008677.bff5d8",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Foglight",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/foglight/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 340,
        "y": 1320,
        "wires": [
            [
                "905492a9.6f0c1"
            ]
        ]
    },
    {
        "id": "431c137a.c5984c",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Highbeam",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/highbeam/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 350,
        "y": 1400,
        "wires": [
            [
                "d080f8c0.4fa548"
            ]
        ]
    },
    {
        "id": "928e1a85.934108",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Defog",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/defog/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 330,
        "y": 1360,
        "wires": [
            [
                "b57dfbeb.9de5b8"
            ]
        ]
    },
    {
        "id": "74875b4a.b5ed54",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Left Turn",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/leftturn/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 340,
        "y": 1440,
        "wires": [
            [
                "4c9ad253.832c7c"
            ]
        ]
    },
    {
        "id": "839f1dd.594c1e",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Right Turn",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/rightturn/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 350,
        "y": 1480,
        "wires": [
            [
                "69ad4b21.2a8fa4"
            ]
        ]
    },
    {
        "id": "cc236161.6fc7f",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Brake Warning",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/brakewarn/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 360,
        "y": 1520,
        "wires": [
            [
                "f991a3b9.52bef"
            ]
        ]
    },
    {
        "id": "a69348c5.6ce138",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "oillight",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/oillight/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 330,
        "y": 1560,
        "wires": [
            [
                "d34b8c87.1b0ce"
            ]
        ]
    },
    {
        "id": "ca628f41.dac49",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Alt",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/alt/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 330,
        "y": 1600,
        "wires": [
            [
                "26e49619.56745a"
            ]
        ]
    },
    {
        "id": "3b74dbc.4afad24",
        "type": "ui_switch",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Glow",
        "tooltip": "",
        "group": "7a911efe.951c3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "indicator/glow/state",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 330,
        "y": 1640,
        "wires": [
            [
                "87ac62e4.7e58e"
            ]
        ]
    },
    {
        "id": "7154e56d.a61c6c",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Speed_CV",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "cabin/speed_cv/state",
        "topicType": "msg",
        "min": 0,
        "max": "155",
        "step": 1,
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "a35e44e1.f82058"
            ]
        ]
    },
    {
        "id": "90b1972a.7eee28",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Outside Temp",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "cabin/outside_temp/state",
        "topicType": "msg",
        "min": 0,
        "max": "155",
        "step": 1,
        "x": 400,
        "y": 940,
        "wires": [
            [
                "ca6a98ec.0d4918"
            ]
        ]
    },
    {
        "id": "a4a83037.ebf84",
        "type": "serial in",
        "z": "b2ea5d88.d17e6",
        "d": true,
        "name": "DCM - Nano",
        "serial": "81d10051.44371",
        "x": 1290,
        "y": 1080,
        "wires": [
            [
                "3449c9f2.873b46",
                "f54921af.83889"
            ]
        ]
    },
    {
        "id": "2c28b207.480aae",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "EGT",
        "topic": "engine/egt/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "3ee65685.4161fa",
        "type": "range",
        "z": "b2ea5d88.d17e6",
        "minin": "0",
        "maxin": "300",
        "minout": "0",
        "maxout": "19",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "EGT",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "2c28b207.480aae",
                "2f614943.48cb46"
            ]
        ]
    },
    {
        "id": "a15da7b1.7dede8",
        "type": "range",
        "z": "b2ea5d88.d17e6",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "19",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Boost",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "859cbf2.760ce4",
                "e6ce7470.4addd8"
            ]
        ]
    },
    {
        "id": "fa8ca8dd.459778",
        "type": "range",
        "z": "b2ea5d88.d17e6",
        "minin": "0",
        "maxin": "30",
        "minout": "0",
        "maxout": "19",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Voltage",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "1b68a577.f99e0b"
            ]
        ]
    },
    {
        "id": "1b68a577.f99e0b",
        "type": "mqtt out",
        "z": "b2ea5d88.d17e6",
        "name": "Voltage",
        "topic": "engine/voltage/state",
        "qos": "0",
        "retain": "",
        "broker": "51b2ec7.2e1c314",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "1e8b94b2.ea62db",
        "type": "ui_slider",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "label": "Voltage",
        "tooltip": "",
        "group": "fc497480.c434c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "engine/voltage/state",
        "topicType": "msg",
        "min": 0,
        "max": "19",
        "step": 1,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "1b68a577.f99e0b"
            ]
        ]
    },
    {
        "id": "7ffa72e5.b1209c",
        "type": "comment",
        "z": "b2ea5d88.d17e6",
        "name": "Debug for MQTT Messages",
        "info": "",
        "x": 980,
        "y": 780,
        "wires": []
    },
    {
        "id": "6ba8d8f1.ef7e58",
        "type": "range",
        "z": "b2ea5d88.d17e6",
        "minin": "0",
        "maxin": "50",
        "minout": "0",
        "maxout": "50",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "RPM",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "7690c79.40c6738"
            ]
        ]
    },
    {
        "id": "d0c87da2.cae04",
        "type": "range",
        "z": "b2ea5d88.d17e6",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "19",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Oil Pressure",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "e111a39b.1b3e",
                "181ae1d4.ebdcfe"
            ]
        ]
    },
    {
        "id": "b9541089.3e998",
        "type": "range",
        "z": "b2ea5d88.d17e6",
        "minin": "0",
        "maxin": "300",
        "minout": "0",
        "maxout": "19",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Boost",
        "x": 630,
        "y": 580,
        "wires": [
            [
                "9da81925.940a48"
            ]
        ]
    },
    {
        "id": "3449c9f2.873b46",
        "type": "debug",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f54921af.83889",
        "type": "json",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1510,
        "y": 1020,
        "wires": [
            [
                "5820a53b.994d1c"
            ]
        ]
    },
    {
        "id": "5820a53b.994d1c",
        "type": "debug",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 940,
        "wires": []
    },
    {
        "id": "bcd745.0959a8b8",
        "type": "json",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "de477062.4372f",
                "4333855d.48c9cc",
                "987428eb.03bf78"
            ]
        ]
    },
    {
        "id": "de477062.4372f",
        "type": "function",
        "z": "b2ea5d88.d17e6",
        "name": "EGT",
        "func": "msg.payload = msg.payload.EGT\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "3ee65685.4161fa"
            ]
        ]
    },
    {
        "id": "b128e666.b14f48",
        "type": "serial in",
        "z": "b2ea5d88.d17e6",
        "name": "",
        "serial": "81d10051.44371",
        "x": 70,
        "y": 340,
        "wires": [
            [
                "bcd745.0959a8b8",
                "fe48d656.8f5ba8"
            ]
        ]
    },
    {
        "id": "4333855d.48c9cc",
        "type": "function",
        "z": "b2ea5d88.d17e6",
        "name": "BOOST",
        "func": "msg.payload = msg.payload.BOOST\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "a15da7b1.7dede8"
            ]
        ]
    },
    {
        "id": "987428eb.03bf78",
        "type": "function",
        "z": "b2ea5d88.d17e6",
        "name": "OIL PRESSURE",
        "func": "msg.payload = msg.payload.OIL_PRESSURE\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 520,
        "wires": [
            [
                "d0c87da2.cae04"
            ]
        ]
    },
    {
        "id": "2f614943.48cb46",
        "type": "debug",
        "z": "b2ea5d88.d17e6",
        "name": "EGT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 160,
        "wires": []
    },
    {
        "id": "e6ce7470.4addd8",
        "type": "debug",
        "z": "b2ea5d88.d17e6",
        "name": "Boost",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "fe48d656.8f5ba8",
        "type": "debug",
        "z": "b2ea5d88.d17e6",
        "name": "Nano Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "181ae1d4.ebdcfe",
        "type": "debug",
        "z": "b2ea5d88.d17e6",
        "name": "Oil Pressure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "bfe7b877.c28ac8",
        "type": "comment",
        "z": "b2ea5d88.d17e6",
        "name": "Applies Map/Range",
        "info": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "f6081949.221fa8",
        "type": "comment",
        "z": "b2ea5d88.d17e6",
        "name": "Splits JSON Payload to each sensor",
        "info": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "c930268e.805438",
        "type": "comment",
        "z": "b2ea5d88.d17e6",
        "name": "Send Data to MQTT",
        "info": "",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "4839e398.ab797c",
        "type": "comment",
        "z": "b2ea5d88.d17e6",
        "name": "JSON Arduino Data from Nano",
        "info": "",
        "x": 150,
        "y": 280,
        "wires": []
    },
    {
        "id": "51b2ec7.2e1c314",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fc497480.c434c8",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "a1abfb87.c9b9a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7a911efe.951c3",
        "type": "ui_group",
        "name": "Indicators",
        "tab": "a1abfb87.c9b9a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "81d10051.44371",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "a1abfb87.c9b9a8",
        "type": "ui_tab",
        "name": "Digifiz",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]