arduino-node-red/node-red/digi_test_CAN.txt
[{"id":"f83ef9d8.c33a78","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b2ea5d88.d17e6","type":"tab","label":"VW bus","disabled":false,"info":""},{"id":"51b2ec7.2e1c314","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1abfb87.c9b9a8","type":"ui_tab","name":"Digifiz","icon":"dashboard","disabled":false,"hidden":false},{"id":"ad0e3d14.651c5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7a911efe.951c3","type":"ui_group","name":"Indicators","tab":"a1abfb87.c9b9a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc497480.c434c8","type":"ui_group","name":"Gauges","tab":"a1abfb87.c9b9a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"81d10051.44371","type":"serial-port","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b721d6af.b1c9f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d3868a13.098648","type":"mqtt-broker","name":"rpi4","broker":"192.168.2.200","port":"1883","clientid":"nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5c491a3.4770f","type":"mqtt in","z":"b2ea5d88.d17e6","name":"","topic":"engine/egt/state","qos":"0","datatype":"auto","broker":"51b2ec7.2e1c314","x":940,"y":820,"wires":[["f78f8ca4.7b4dd"]]},{"id":"f78f8ca4.7b4dd","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":820,"wires":[]},{"id":"7690c79.40c6738","type":"mqtt out","z":"b2ea5d88.d17e6","name":"RPM","topic":"engine/rpm/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":630,"y":320,"wires":[]},{"id":"859cbf2.760ce4","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Boost","topic":"engine/boost/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":630,"y":160,"wires":[]},{"id":"9da81925.940a48","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Coolant","topic":"engine/coolant/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":640,"y":480,"wires":[]},{"id":"4ba533bd.5db22c","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":880,"wires":[]},{"id":"d19a360f.5d54c8","type":"mqtt in","z":"b2ea5d88.d17e6","name":"","topic":"engine/rpm/state","qos":"0","datatype":"auto","broker":"51b2ec7.2e1c314","x":940,"y":880,"wires":[["4ba533bd.5db22c"]]},{"id":"e111a39b.1b3e","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Oil Pressure","topic":"engine/oilpressure/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":650,"y":400,"wires":[]},{"id":"ca6a98ec.0d4918","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Outside Temp","topic":"cabin/outside_temp/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":580,"y":940,"wires":[]},{"id":"3b41ef78.edce3","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Fuel","topic":"engine/fuel/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":630,"y":600,"wires":[]},{"id":"a35e44e1.f82058","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Speed CV","topic":"cabin/speed_cv/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":570,"y":1000,"wires":[]},{"id":"48c91773.216978","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Speed GPS","topic":"cabin/speed_gps/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":570,"y":1060,"wires":[]},{"id":"58023a34.8750e4","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Outside Temp","topic":"cabin/outside_temp/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":580,"y":1120,"wires":[]},{"id":"5035f002.d6573","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Illumination State","topic":"indicator/illumination/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":590,"y":1280,"wires":[]},{"id":"55a010bb.da1cf","type":"comment","z":"b2ea5d88.d17e6","name":"Indicator Topic for dash Lights (turn signal, etc)","info":"","x":300,"y":1220,"wires":[]},{"id":"e4ef61c3.1017e","type":"comment","z":"b2ea5d88.d17e6","name":"Cabin Topic - dash items originating in cabin arduinos","info":"","x":320,"y":880,"wires":[]},{"id":"20c42123.f54d5e","type":"comment","z":"b2ea5d88.d17e6","name":"Engine Topic - dash items from engine arduino","info":"","x":220,"y":20,"wires":[]},{"id":"905492a9.6f0c1","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Foglight State","topic":"indicator/foglight/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":580,"y":1320,"wires":[]},{"id":"d080f8c0.4fa548","type":"mqtt out","z":"b2ea5d88.d17e6","name":"HIghbeam State","topic":"indicator/highbeam/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":580,"y":1400,"wires":[]},{"id":"b57dfbeb.9de5b8","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Defog State","topic":"indicator/defog/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":570,"y":1360,"wires":[]},{"id":"4c9ad253.832c7c","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Left Turn State","topic":"indicator/leftturn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":580,"y":1440,"wires":[]},{"id":"69ad4b21.2a8fa4","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Right Turn State","topic":"indicator/rightturn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":580,"y":1480,"wires":[]},{"id":"f991a3b9.52bef","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Brake Warn State","topic":"indicator/brakewarn/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":590,"y":1520,"wires":[]},{"id":"d34b8c87.1b0ce","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Oil Light State","topic":"indicator/oillight/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":580,"y":1560,"wires":[]},{"id":"26e49619.56745a","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Alt State","topic":"indicator/alt/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":560,"y":1600,"wires":[]},{"id":"87ac62e4.7e58e","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Glow State","topic":"indicator/glow/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":570,"y":1640,"wires":[]},{"id":"e6e0988f.699948","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"RPM","tooltip":"","group":"fc497480.c434c8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/rpm/state","topicType":"msg","min":0,"max":"50","step":1,"x":490,"y":340,"wires":[["7690c79.40c6738"]]},{"id":"2b9f5a96.7b8166","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"EGT","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/egt/state","topicType":"msg","min":0,"max":"19","step":1,"x":490,"y":100,"wires":[["2c28b207.480aae"]]},{"id":"8040889a.fe17d8","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Oil Pressure","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/oilpressure/state","topicType":"msg","min":0,"max":"19","step":1,"x":470,"y":420,"wires":[["e111a39b.1b3e"]]},{"id":"e9621a85.91d868","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Coolant","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/coolant/state","topicType":"msg","min":0,"max":"19","step":1,"x":480,"y":500,"wires":[["9da81925.940a48"]]},{"id":"a2c33998.207b08","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Boost","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/boost/state","topicType":"msg","min":0,"max":"19","step":1,"x":490,"y":180,"wires":[["859cbf2.760ce4"]]},{"id":"c5b1191c.5a8ec8","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Fuel","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/fuel/state","topicType":"msg","min":0,"max":"55","step":1,"x":490,"y":620,"wires":[["3b41ef78.edce3"]]},{"id":"6d18b015.682d7","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Illumination","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/illumination/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":350,"y":1280,"wires":[["5035f002.d6573"]]},{"id":"93008677.bff5d8","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Foglight","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/foglight/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":340,"y":1320,"wires":[["905492a9.6f0c1"]]},{"id":"431c137a.c5984c","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Highbeam","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/highbeam/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":350,"y":1400,"wires":[["d080f8c0.4fa548"]]},{"id":"928e1a85.934108","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Defog","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/defog/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":330,"y":1360,"wires":[["b57dfbeb.9de5b8"]]},{"id":"74875b4a.b5ed54","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Left Turn","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/leftturn/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":340,"y":1440,"wires":[["4c9ad253.832c7c"]]},{"id":"839f1dd.594c1e","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Right Turn","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/rightturn/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":350,"y":1480,"wires":[["69ad4b21.2a8fa4"]]},{"id":"cc236161.6fc7f","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Brake Warning","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/brakewarn/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":360,"y":1520,"wires":[["f991a3b9.52bef"]]},{"id":"a69348c5.6ce138","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"oillight","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/oillight/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":330,"y":1560,"wires":[["d34b8c87.1b0ce"]]},{"id":"ca628f41.dac49","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Alt","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/alt/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":330,"y":1600,"wires":[["26e49619.56745a"]]},{"id":"3b74dbc.4afad24","type":"ui_switch","z":"b2ea5d88.d17e6","name":"","label":"Glow","tooltip":"","group":"7a911efe.951c3","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"indicator/glow/state","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":330,"y":1640,"wires":[["87ac62e4.7e58e"]]},{"id":"7154e56d.a61c6c","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Speed_CV","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"cabin/speed_cv/state","topicType":"msg","min":0,"max":"155","step":1,"x":410,"y":1000,"wires":[["a35e44e1.f82058"]]},{"id":"90b1972a.7eee28","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Outside Temp","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"cabin/outside_temp/state","topicType":"msg","min":0,"max":"155","step":1,"x":400,"y":940,"wires":[["ca6a98ec.0d4918"]]},{"id":"f6162d9.99b2cd","type":"function","z":"b2ea5d88.d17e6","name":"Split Function","func":"var outputMsgs = [];\nvar values = msg.payload.trim().split(\" \");\nfor (var v in values) {\n    outputMsgs.push({payload:values[v]});\n}\n\nreturn outputMsgs;","outputs":5,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["3ee65685.4161fa","562a3f64.3988d"],["a15da7b1.7dede8"],["fa8ca8dd.459778"],[],[]]},{"id":"a4a83037.ebf84","type":"serial in","z":"b2ea5d88.d17e6","name":"DCM - Nano","serial":"81d10051.44371","x":75,"y":140,"wires":[["f6162d9.99b2cd","6a82a685.09fbb8","f5b166de.9d9538"]]},{"id":"194e7f8.10feb81","type":"mqtt out","z":"f83ef9d8.c33a78","name":"EGT","topic":"engine/egt/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":550,"y":200,"wires":[]},{"id":"1fdbd692.33ad09","type":"debug","z":"f83ef9d8.c33a78","name":"EGT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":380,"wires":[]},{"id":"41a618c0.90a7d8","type":"csv","z":"f83ef9d8.c33a78","name":"egt","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"egt","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":190,"y":340,"wires":[["1fdbd692.33ad09"]]},{"id":"1344009b.607f2f","type":"debug","z":"f83ef9d8.c33a78","name":"Boost","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"4fbd223b.6e69ac","type":"debug","z":"f83ef9d8.c33a78","name":"Voltage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.col3","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":540,"wires":[]},{"id":"94476991.e88348","type":"range","z":"f83ef9d8.c33a78","minin":"0","maxin":"500","minout":"0","maxout":"19","action":"scale","round":true,"property":"engine/egt/state","name":"EGT","x":530,"y":260,"wires":[["194e7f8.10feb81","190b2186.c904be"]]},{"id":"190b2186.c904be","type":"debug","z":"f83ef9d8.c33a78","name":"EGT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"68651b.486eeae4","type":"change","z":"f83ef9d8.c33a78","name":"","rules":[{"t":"move","p":"payload.col1","pt":"msg","to":"engine/egt/state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":200,"wires":[["b10fa351.28c75"]]},{"id":"b10fa351.28c75","type":"split","z":"f83ef9d8.c33a78","name":"","splt":": ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":280,"y":260,"wires":[["257bdf29.13081"]]},{"id":"257bdf29.13081","type":"change","z":"f83ef9d8.c33a78","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"engine/egt/state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["94476991.e88348"]]},{"id":"764135c4.f3c5dc","type":"csv","z":"f83ef9d8.c33a78","name":"boost","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"egt, boost, voltage","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":190,"y":400,"wires":[["1344009b.607f2f","68651b.486eeae4","261be689.b4220a"]]},{"id":"1437fc8f.0647c3","type":"csv","z":"f83ef9d8.c33a78","name":"volt","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"voltage","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":190,"y":460,"wires":[["4fbd223b.6e69ac"]]},{"id":"261be689.b4220a","type":"change","z":"f83ef9d8.c33a78","name":"","rules":[{"t":"move","p":"payload.col2","pt":"msg","to":"engine/boost/state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":520,"wires":[["71d59888.816198"]]},{"id":"71d59888.816198","type":"split","z":"f83ef9d8.c33a78","name":"","splt":": ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":580,"wires":[["1a6f1e9c.2827b1"]]},{"id":"1a6f1e9c.2827b1","type":"change","z":"f83ef9d8.c33a78","name":"","rules":[{"t":"move","p":"payload.col2","pt":"msg","to":"engine/boost/state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":620,"wires":[["f707f139.837e"]]},{"id":"f707f139.837e","type":"range","z":"f83ef9d8.c33a78","minin":"0","maxin":"30","minout":"0","maxout":"19","action":"scale","round":true,"property":"engine/egt/state","name":"Boost","x":1040,"y":580,"wires":[["d5146471.24e648","2db76a20.1c2566"]]},{"id":"d5146471.24e648","type":"debug","z":"f83ef9d8.c33a78","name":"Boost","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1120,"y":680,"wires":[]},{"id":"2db76a20.1c2566","type":"mqtt out","z":"f83ef9d8.c33a78","name":"Boost","topic":"engine/boost/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":1210,"y":540,"wires":[]},{"id":"77f9c11f.3d6c9","type":"csv","z":"f83ef9d8.c33a78","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":190,"y":520,"wires":[[]]},{"id":"2c28b207.480aae","type":"mqtt out","z":"b2ea5d88.d17e6","name":"EGT","topic":"engine/egt/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":630,"y":80,"wires":[]},{"id":"6202970e.cc5248","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Boost","topic":"engine/boost/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":1110,"y":360,"wires":[]},{"id":"3ee65685.4161fa","type":"range","z":"b2ea5d88.d17e6","minin":"0","maxin":"300","minout":"0","maxout":"19","action":"scale","round":true,"property":"payload","name":"EGT","x":490,"y":60,"wires":[["2c28b207.480aae"]]},{"id":"a15da7b1.7dede8","type":"range","z":"b2ea5d88.d17e6","minin":"0","maxin":"5","minout":"0","maxout":"19","action":"scale","round":true,"property":"payload","name":"Boost","x":490,"y":140,"wires":[["859cbf2.760ce4"]]},{"id":"fa8ca8dd.459778","type":"range","z":"b2ea5d88.d17e6","minin":"0","maxin":"30","minout":"0","maxout":"19","action":"scale","round":true,"property":"payload","name":"Voltage","x":480,"y":220,"wires":[["1b68a577.f99e0b"]]},{"id":"1b68a577.f99e0b","type":"mqtt out","z":"b2ea5d88.d17e6","name":"Voltage","topic":"engine/voltage/state","qos":"0","retain":"","broker":"51b2ec7.2e1c314","x":640,"y":240,"wires":[]},{"id":"1e8b94b2.ea62db","type":"ui_slider","z":"b2ea5d88.d17e6","name":"","label":"Voltage","tooltip":"","group":"fc497480.c434c8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"engine/voltage/state","topicType":"msg","min":0,"max":"19","step":1,"x":480,"y":260,"wires":[["1b68a577.f99e0b"]]},{"id":"7ffa72e5.b1209c","type":"comment","z":"b2ea5d88.d17e6","name":"Debug for MQTT Messages","info":"","x":980,"y":780,"wires":[]},{"id":"6ba8d8f1.ef7e58","type":"range","z":"b2ea5d88.d17e6","minin":"0","maxin":"50","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"RPM","x":490,"y":300,"wires":[["7690c79.40c6738"]]},{"id":"d0c87da2.cae04","type":"range","z":"b2ea5d88.d17e6","minin":"0","maxin":"50","minout":"0","maxout":"50","action":"scale","round":false,"property":"payload","name":"Oil Pressure","x":470,"y":380,"wires":[["e111a39b.1b3e"]]},{"id":"b9541089.3e998","type":"range","z":"b2ea5d88.d17e6","minin":"0","maxin":"300","minout":"0","maxout":"19","action":"scale","round":true,"property":"payload","name":"Boost","x":490,"y":460,"wires":[["9da81925.940a48"]]},{"id":"5edab778.dcc3b8","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":600,"wires":[]},{"id":"7cb4a89b.27bb18","type":"switch","z":"b2ea5d88.d17e6","name":"Filter CAN ID","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"0x036","vt":"str"},{"t":"cont","v":"0x037","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":540,"wires":[["2a2a8e92.370892"],["51cc4c0e.476db4"]]},{"id":"df036908.003bb8","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.data[0]","targetType":"msg","statusVal":"payload.data[0]","statusType":"auto","x":1460,"y":260,"wires":[]},{"id":"50b46383.392b2c","type":"debug","z":"b2ea5d88.d17e6","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.data[1]","targetType":"msg","x":1460,"y":320,"wires":[]},{"id":"67e7e3d1.39754c","type":"debug","z":"b2ea5d88.d17e6","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.data[2]","targetType":"msg","x":1460,"y":380,"wires":[]},{"id":"bb1d4d37.40468","type":"json","z":"b2ea5d88.d17e6","name":"","property":"payload","action":"str","pretty":true,"x":1250,"y":320,"wires":[[]]},{"id":"af27ad93.fa251","type":"function","z":"b2ea5d88.d17e6","name":"Split Function","func":"var outputMsgs = [];\nvar values = msg.payload.trim().split(\" \");\nfor (var v in values) {\n    outputMsgs.push({payload:values[v]});\n}\n\nreturn outputMsgs;","outputs":9,"noerr":0,"initialize":"","finalize":"","x":1460,"y":500,"wires":[[],[],["d78a96bd.cecd08","969c1b9.2ccefe8"],["d78a96bd.cecd08"],[],[],[],[],[]]},{"id":"c41e98fa.074e68","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":660,"wires":[]},{"id":"9df65ccf.097e1","type":"comment","z":"b2ea5d88.d17e6","name":"CAN ID 36","info":"","x":980,"y":100,"wires":[]},{"id":"d78a96bd.cecd08","type":"function","z":"b2ea5d88.d17e6","name":"","func":"\nvar value = (msg.payload[0] << 8) + (msg.payload[1]);\n\nreturn outputMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":540,"wires":[["5edab778.dcc3b8"]]},{"id":"969c1b9.2ccefe8","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":420,"wires":[]},{"id":"fa7bacbc.03a0a","type":"csv","z":"b2ea5d88.d17e6","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1250,"y":280,"wires":[["2f44ab3.fca4e54"]]},{"id":"2f44ab3.fca4e54","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":200,"wires":[]},{"id":"8fe8fd59.1933a","type":"function","z":"b2ea5d88.d17e6","name":"","func":"var outputMsg = [];\nvar value = (msg.payload[0] << 8) + (msg.payload[1]);\n\nreturn outputMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":180,"wires":[[]]},{"id":"9ce62eda.eb5c9","type":"function","z":"b2ea5d88.d17e6","name":"Split Function","func":"msg.payload = parseInt(\"0x\"+msg.payload);\nmsg.payload = msg.payload.toString(2).padStart(4, '0');\nvar m0 = msg.payload.split(' ')[0].substr(0,1);\nvar m1 = msg.payload.split(' ')[0].substr(1,1);\nvar m2 = msg.payload.split(' ')[0].substr(2,1);\nvar m3 = msg.payload.split(' ')[0].substr(3,1);\nreturn [{payload:m0},{payload:m1},{payload:m2},{payload:m3}];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":260,"wires":[[]]},{"id":"69a4af89.fe944","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":240,"wires":[]},{"id":"51cc4c0e.476db4","type":"function","z":"b2ea5d88.d17e6","name":"Seperate the ID","func":"var outputMsgs = [];\nvar values = msg.payload.trim().split(\", \");\nfor (var v in values) {\n    outputMsgs.push({payload:values[v]});\n}\n\nreturn outputMsgs;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1200,"y":600,"wires":[[],["c41e98fa.074e68"]]},{"id":"2a2a8e92.370892","type":"function","z":"b2ea5d88.d17e6","name":"Separate the ID","func":"var outputMsgs = [];\nvar values = msg.payload.trim().split(\", \");\nfor (var v in values) {\n    outputMsgs.push({payload:values[v]});\n}\n\nreturn outputMsgs;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1200,"y":480,"wires":[[],["bcf6fc05.e770e","af27ad93.fa251"]]},{"id":"bcf6fc05.e770e","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":540,"wires":[]},{"id":"6a82a685.09fbb8","type":"json","z":"b2ea5d88.d17e6","name":"","property":"payload","action":"str","pretty":true,"x":110,"y":320,"wires":[["69a4af89.fe944"]]},{"id":"f5b166de.9d9538","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":80,"wires":[]},{"id":"562a3f64.3988d","type":"debug","z":"b2ea5d88.d17e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":20,"wires":[]}]